@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    outline: none;
    color: #fff;
}

body {
    background: url('../assets/images/background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 98.8vh;
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
    border: 4px solid var(--playerColor);
    backdrop-filter: blur(20px);
}

button {
    background: #fff;
    color: white;
    border: 4px solid var(--playerColor);
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(182, 66, 66, 0.1);
    padding-left: 15px;
    padding-right: 15px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

h2 {
    width: 100%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.player-panel {
    float: left;
    width: 40%;
    height: 75vh;
    background-color: transparent;
    justify-content: left;
    border-radius: 5px;
    margin: 10px;
    margin-top: 0px;
    border: 4px solid var(--playerColor);
    backdrop-filter: blur(20px);
    overflow: hidden;
    overflow-y: scroll;
}

.player-panel::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

.player-panel::-webkit-scrollbar-thumb {
    background-color: var(--playerColor);
    border-radius: 10px;
    margin: 5px;
}

.sub-player-panel {
    width: 100%;
    height: 30%;
    display: flex;
}

.player-status {
    float: right;
    width: 55%;
    height: 75vh;
    background-color: transparent;
    display: flex;
    justify-content: left;
    border-radius: 5px;
    margin: 10px;
    margin-top: 0px;
    border: 4px solid var(--playerColor);
    backdrop-filter: blur(20px);
}

.player-image {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 40px;
    border: 4px solid var(--playerColor);
    margin-right: 20px;
}

.user-img {
    width: 100px;
    margin: 45px;
    cursor: pointer;
}

.player-info p {
    font-size: 20px;
    margin-top: 10px;
    line-break: auto;
}

.player-info {
    width: 100%;
    margin-top: 30px;
}

.player-class {
    width: 90px;
    width: 90px;
}

.transform-info {
    width: 100%;
}

.left-nav {
    float: left;
    margin-top: 50px;
    width: 40%;
    border: none;
    backdrop-filter: none;
    justify-content: left;
    margin-bottom: 0px;
}

.right-nav {
    float: right;
    margin-top: 50px;
    width: 55%;
    border: none;
    backdrop-filter: none;
    justify-content: left;
    margin-bottom: 0px;
}

.panels {
    width: 100%;
}


.input-box {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: 20px;
    justify-content: left;
}

.Info {
    float: left;
    width: 80%;
    height: 300px;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid var(--playerColor);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    backdrop-filter: blur(20px);
    margin-top: 20px;
    resize: none;
    font-size: 22px;
}

.Info::placeholder {
    color: #fff;
    font-size: 22px;
}

.Info::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

.Info::-webkit-scrollbar-thumb {
    background-color: var(--playerColor);
    border-radius: 10px;
    margin: 5px;
}

.info-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.info-div::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

.info-div::-webkit-scrollbar-thumb {
    background-color: var(--playerColor);
    border-radius: 10px;
    margin: 5px;
}

.stats-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.stats-div::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

.stats-div::-webkit-scrollbar-thumb {
    background-color: var(--playerColor);
    border-radius: 10px;
    margin: 5px;
}

.sub-stats-div {
    margin-top: 30px;
    margin-left: 20px;
    justify-content: left;
}

.positive-display {
    float: left;
    width: 95%;
    height: 500px;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid var(--playerColor);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    backdrop-filter: blur(20px);
    margin-top: 20px;
    font-size: 22px;
}

.negative-display {
    float: left;
    width: 95%;
    height: 500px;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid var(--playerColor);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    backdrop-filter: blur(20px);
    margin-top: 20px;
    font-size: 22px;
}

.global-display {
    float: left;
    width: 95%;
    height: 500px;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid var(--playerColor);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    backdrop-filter: blur(20px);
    margin-top: 20px;
    font-size: 22px;
}

.friends-display {
    float: left;
    width: 95%;
    height: 500px;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid var(--playerColor);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    backdrop-filter: blur(20px);
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 20px;
}

.sub-stats-div h1 {
    font-size: 26px;
}

.sub-combat-div {
    margin-top: 30px;
    margin-left: 20px;
    justify-content: left;
}

.sub-combat-div h1 {
    font-size: 26px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
}

.section {
    display: flex;
    margin: 15px;
    margin-top: 10px;
}

.icons {
    width: 50px;
    height: 50px;
    align-self: center;
}

.player-bars {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 20px;
}

.player-bars h1 {
    margin-top: 25px;
}

.bars {
    margin-top: 2px;
    height: 80px;
    width: 400px;
    border: 4px solid var(--playerColor);
    border-radius: 15px;
}

.text-bar {
    height: 80px;
    width: 400px;
    align-self: center;
    justify-content: center;
    position: absolute;
    display: flex;
}

.text-bar h1 {
    align-self: center;
    text-align: center;
    margin-top: 13px;
}

.inside-texts {
    text-align: center;
    align-self: center;
}

.life-bar {
    height: 100%;
    background-color: #51e346;
    border-radius: 11px;
}

.vigor-bar {
    height: 100%;
    background-color: #962424;
    border-radius: 11px;
}

.energy-bar {
    height: 100%;
    background-color: #0082e6;
    border-radius: 11px;
}

.sanity-bar {
    height: 100%;
    background-color: #e95555;
    border-radius: 11px;
}

.humanity-bar {
    height: 100%;
    background-color: #c3f48a;
    border-radius: 11px;
}

.transformed-bar {
    height: 100%;
    background-color: var(--playerColor);
    border-radius: 11px;
}

.roll-dice {
    width: 50px;
    background: transparent;
    border: none;
    align-self: center;
}

.popup {
    width: 500px;
    border: 6px solid var(--playerColor);
    backdrop-filter: blur(20px);
    box-shadow: 0, 0, 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px;
    justify-content: center;
    animation: fadeIn 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.popup h2 {
    color: var(--diceColor);
    font-size: 34px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
}

.popup h3 {
    color: #ffffff80;
    font-size: 16px;
    text-align: center;
}

.popup button {
    width: 80%;
    font-size: 24px;
    margin-bottom: 30px;
}

.config {
    width: 60px;
    background-color: transparent;
    border: none;
    float: right;
    box-shadow: none;
}

.config img {
    width: 30px;
}

.data-input {
    background-color: transparent;
    border: none;
    width: 50px;
}

.colors {
    width: 100%;
    margin: 45px;
}

.color-select {
    display: flex;
    margin-top: 10px;
}

.color-select h1 {
    font-size: 22px;
    margin-bottom: 0px;
}

.color-select input {
    align-self: center;
    margin-left: 10px;
    width: 50px;
    height: 20px;
}

.popup-hab {
    width: 80vh;
    border: 6px solid var(--playerColor);
    backdrop-filter: blur(20px);
    box-shadow: 0, 0, 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px;
    animation: fadeIn 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.popup-hab button {
    width: 200px;
    float: right;
}

.selection {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid var(--playerColor);
    backdrop-filter: blur(20px);
}

.selection h1 {
    margin-bottom: 10px;
    align-self: center;
    margin-left: 10px;
}

.selection input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 22px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.selection input::placeholder {
    color: #fff;
    font-size: 22px;
}

.selection textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 22px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    resize: none;
    align-self: center;
}

.selection textarea::placeholder {
    color: #fff;
    font-size: 22px;
}

.selection textarea::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

.selection textarea::-webkit-scrollbar-thumb {
    background-color: var(--playerColor);
    border-radius: 10px;
    margin: 5px;
}

.sky {
    display: flex;
}

.sky h1 {
    text-align: center;
    margin-top: 10px;
}

.img-button {
    width: 10px;
    float: left;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0px;
}

.img-button img {
    width: 50px;
    float: left;
}

.create {
    float: right;
}

.text-bar input {
    width: 100%;
    height: 100%;
    font-size: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 22px;
    color: #fff;
    padding: 10px 5px 10px 15px;
}

.input-right {
    text-align: left;
}

.input-left {
    text-align: right;
}